*{
    box-sizing: border-box; /* что бы падинги работали во внутырь */
}

*::before{
    
} /* это стили для псевдо элементов*/
*::after{
    box-sizing: border-box;
} 
@font-face {                                                    /*медиа запрос к шрифту*/
    font-family: "Poppins";                                     /*тут водиться шрифт*/
    src: url("../fonts/Poppins-Regular.woff") format("woff");   /*код подключения шрифта*/
    font-display: swap;                                         /*код подключения шрифта*/
    font-weight: 400;                                           /*тут водиться размер шрифта*/
    font-style: normal;                                         /*тут убирается все стили шрифта*/
}
@font-face {                                                    /*медиа запрос к шрифту*/
    font-family: "Poppins";                                     /*тут водиться шрифт*/
    src: url("../fonts/Poppins-Medium.woff") format("woff");   /*код подключения шрифта*/
    font-display: swap;                                         /*код подключения шрифта*/
    font-weight: 500;                                           /*тут водиться размер шрифта*/
    font-style: normal;                                         /*тут убирается все стили шрифта*/
}
@font-face {                                                    /*медиа запрос к шрифту*/
    font-family: "Poppins";                                     /*тут водиться шрифт*/
    src: url("../fonts/Poppins-SemiBold.woff") format("woff");  /*код подключения шрифта*/
    font-display: swap;                                         /*код подключения шрифта*/
    font-weight: 600;                                           /*тут водиться размер шрифта*/
    font-style: normal;                                         /*тут убирается все стили шрифта*/
}
@font-face {                                                    /*медиа запрос к шрифту*/
    font-family: "Poppins";                                     /*тут водиться шрифт*/
    src: url("../fonts/Poppins-Bold.woff") format("woff");      /*код подключения шрифта*/
    font-display: swap;                                         /*код подключения шрифта*/
    font-weight: 700;                                           /*тут водиться размер шрифта*/
    font-style: normal;                                         /*тут убирается все стили шрифта*/
}
:root { /*Глобальная переменная (работает для всего сайта)*/
    --font-family:"Poppins",sans-serif; /*--font-family -название переменной ("Poppins",sans-serif; -какой будет шрифт) */
}
body {
    font-family:var(--font-family); /*var(--font-family) -вызывает переменную (--font-family) -название переменной тут водиться шрифт*/
    font-weight: 400; /*тут водиться размер шрифта*/
}
img {
    max-width: 100%; /* что бы были внутри родителя и не уходили за пределы */
}
.list-reset {  /*.list-reset -сброс значений элемента li (убирает точку) */
    margin: 0;         
    padding: 0;
    list-style: none;
}
.btn-reset { /* btn-reset -сброс значений кнопки*/
    padding: 0;
    border: none; /*убирает обводку кнопки*/
    font-family:var(--font-family); /*var(--font-family) -вызывает переменную (--font-family) -название переменной тут водиться шрифт*/
    background-color: transparent; /*прозрачный цвет у кнопок*/
    cursor: pointer; /*применения лапка в виде руки */
}
.container {
    max-width: 1140px; /*максимальная ширины (для адоптивных сайтов  max-width: ) */
    padding: 0 15px;  /* padding: 0 15px нужно суммировать 15л+15п=30 и добавить в max-width: */
    margin:0 auto; /*выравнивание блок с шириной по центру*/
}
.link {
display: inline-flex; /*строчная блочность (text-indent - отступ в начале строки) (inline-flex поместить элементы в один ряд)*/
font-weight:700;
font-size: 16px;
line-height: 18px; /*меж строчная высота*/
text-decoration: none; /*убирает подчеркивание текста*/
color: #d4d6d4;
transition: color 0.3s ease-in-out; /*(transition:)АНИМАЦИЯ ПЕРЕХОДА,(color 0.3s)ВРЕМЯ ПЕРЕХОДА,(ease-in-out)Анимация начинается и заканчивается медленно. */
}
 /*стрелка*/
.link svg {
width: 12px;
height: 12px;
fill:currentColor; /*currentColor повторяет цвет который есть в блоке (#d4d6d4)*/
transform: translateY(1px); /*transform: translateY или Х (перемещение элементы по вертикале или по горизонтали) */  
}

.link span {
text-indent: 10px; /*работает только со строчной блочностью (text-indent - отступ в начале строки)*/
border-bottom: 1px solid currentColor; /*currentColor повторяет цвет который есть в блоке (#d4d6d4)*/
}

.link:hover { /*анимация при наведение*/
color: #FFD723;
}

.site-title {
font-weight: 700;
font-size: 36px;
line-height: 46px;
color: #4D533C;
}

.header {
    position: absolute;
    padding: 24px 0; /*отступ с верху и с низу 24 px*/
    left: 0; /*с лево 0*/
    top: 0;  /*с верху 0*/
    width: 100%; /* ширина 100% */
}
.header-container{
    display: flex;
    align-items: center;            /*центровка*/
    justify-content: space-between; /*растянуть блоки по ширине*/
}
.burger { /*--offset-horizontal  --offset-vertical  локальные переменные (работает только внутри блока)*/
    --offset-horizontal: 11px; /*(-- это переменное по горизонтали )(offset это название переменной,название переменной может назвать любым словам )*/
    --offset-vertical: 14px; /*(-- это переменное по вертикали)(offset это название переменной,название переменной может назвать любым словам )*/
    position: relative;
    border-radius: 100%;
    padding: var(--offset-vertical) var(--offset); /*(var(--offset) var вызываем переменную )*/
    width: 40px;  /*ширина блока*/
    height: 40px; /*высота блока*/
    background-color: #f5f6f7;
}
.burger-line {
    position: absolute;
    left:50%;  /*строка 61,62,68 -это выравнивание по центру наш элемент*/ 
    top: var(--offset-vertical);
    display: inline-block; /*сделать блок строчно блочным*/
    width:calc(100% - (var(--offset-horizontal) * 2)); /* 100% (то есть 40px) ширины (--offset будет значение 11px) умноженное на 2 =22px */
    height: 2px;
    background-color: #000;
    transform: translateX(-50%); /*центровка элемента position: absolute;*/
}
.burger-line:nth-child(2) { /*обращение ко второму элементу*/
    top: calc(var(--offset-vertical) + 6px); /*когда классы в HTML одинаковы можно использовать переменные с номерацией 1,2,3*/
}
.burger-line:nth-child(3) { /*обращение к третьему элементу*/
    top: calc(var(--offset-vertical) + 12px);/*когда классы в HTML одинаковы можно использовать переменные с номерацией 1,2,3*/
}
.hero {
    padding-top: 189px;
    padding-bottom: 100px;
    min-height: 811px; /*когда используеш min-height:, обязательно надо использовать padding-top,padding-bottom иначе не сработает */
    background-image: url("../images/Bitmap.png");
    background-size: cover; /*растягивает картинку*/
    background-position: center; /*центровать картинку по центру*/
    background-repeat: no-repeat; /*убирает повторения кортике*/
}
.hero-content {
    max-width: 616px;  /*максимальная ширина*/
    color: #FFF;     /*цвет текста*/
}
.hero-subtitle {
display: inline-block; /*сделать блок строчно блочным */
margin-bottom: 22px;   /*наружный отступ снизу(margin-bottom: работает только с  display: inline-block;)*/
font-size: 14px;       /*размер текста*/
line-height: 21px;     /*высота между строк*/
}
.hero-title {
margin: 0;            /*сброс отступов*/
margin-bottom: 24px;  /*отступ снизу*/
font-weight:700;      /*стиль шрифта*/
font-size: 60px;      /*размер текста*/
line-height: 74px;    /*высота между строк*/
}
.hero-descr {
margin: 0;            /*сброс отступов*/
margin-bottom: 45px;  /*отступ снизу*/
font-size: 16px;      /*размер текста*/
line-height: 26px;    /*высота между строк*/
}

.hero-link {
color: #FFD723;
}

.services {
    margin-bottom: -180px;
    padding-top: 150px;   /*внутренний отступ с верху*/
    padding-bottom: 150px; /*внутренний отступ с низу*/
}

.services-title {
margin: 0;
margin-bottom: 60px; /*отступ снизу*/
max-width: 606px;    /*максимальная ширина */
}
  /*GRID*/
.services-list {
display: grid;
gap: 30px; /*отступ между блоками 30рх (лучше чем margin) АДОПТИВНЫЙ*/
grid-template-columns: repeat(4,1fr); /*сделать солонки в grid (repeat -повторить 4 колонки 1fr -равномерный кусочек блока)*/
}
.services-subtitle {
margin: 0;           /*отступ снаружи блока */
margin-bottom: 20px; /*наружный отступ снизу*/
max-width: 183px;    /*максимальная ширина для заголовка что бы он перенесся*/
font-weight: 500;    /*стиль шрифта*/
font-size: 24px;     /*размер текста*/
line-height: 34px;   /*высота между строк*/
text-transform: uppercase; /*сделать все большие буквы*/
color: #4D533C;   /*цвет текста*/
}
.services-descr {
margin: 0;           /*отступ снаружи блока */
margin-bottom: 56px; /*отступ снизу*/
max-width: 194px;    /*максимальная ширина блока*/
font-weight: 500;    /*стиль шрифта*/
font-size: 14px;     /*размер текста*/
line-height: 26px;   /*высота между строк*/
color: rgba(33, 56, 66, 0.6);
}
.services-item {
display: flex;
align-items: flex-start;
flex-direction: column;
}
.services-link {
margin-bottom: 0;  /*наружный отступ снизу*/
margin-top: auto; /*внешний отступ с верху (auto -выравнивание) для каждого блока свой отступ с верху*/
}
.get-started {
position: relative;
top: 180px;             /*отступ верху*/
padding: 70px 0;        /*внутренний отступ с верху с низу 70px,с право и с лево 0*/
width: 88%;             /*ширина (% - используются для АДОПТИВНОГО сайта)*/
box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947); /*позволяет добавлять одну или несколько теней*/
background-color : #FAFAFA; /*цвет блока*/
}
.get-started-title {
margin: 0;             /*отступ снаружи блока */
margin-bottom: 50px;   /*наружный отступ снизу*/
max-width: 822px;      /*максимальная ширина блока*/
font-weight: 700;      /*стиль шрифта*/
font-size: 60px;       /*размер текста*/
line-height: 74px;     /*высота между строк*/
color: #4D533C;      /*цвет текста*/
}
.get-started-link {
text-transform: uppercase; /*все буквы большие*/

}
.footer {
padding-top: 310px; /*внутренний отступ с верху*/
color: #FFF;    /*цвет текста*/
background-image: url("../images/footer-bg.jpg");
background-size: cover; /*растягивает картинку*/
background-position: center; /*центровать картинку по центру*/
background-repeat: no-repeat; /*убирает повторения кортике*/
}
.footer-top {
display: flex;
flex-wrap: wrap; /*переместится элементы в колонку когда перестанут помещаться(АДАПТИВНОСТЬ)*/
padding-bottom: 52px;
border-bottom: 1px solid #5D6544;
}
.footer-contacts-item:not(:last-child) {  /*у всех элементов кроме последнего*/
margin-right: 128px; /*наружный отступ на право */
}
.footer-contacts-text {
display: block; /*(display: block;-перенос строки в колонку вниз)*/
margin-bottom: 8px;/*наружный отступ снизу*/
font-size: 16px;   /*размер текста*/
line-height: 40px; /*высота между строк*/
color: #B6C197;  /*цвет текста*/
}
.footer-contacts-value {
display: inline-block; /*отступ*/
font-weight: 700;  /*стиль шрифта*/
font-style: normal; /*сбрасывает все стили шрифта*/
font-size: 16px;   /*размер текста*/
line-height: 40px; /*высота между строк*/
color: #FFF;     /*цвет текста*/
text-decoration: none; /*убирает подчеркивание текста*/
}
.footer-middle {
--grid-gap: 70px;   /*переменная в этом блоке*/
display: grid;
padding: 60px 0;  /*внутренний отступ с верху с низу (60 px) c право и с лево (0)*/
gap: var(--grid-gap); /*отступ между блоками 70рх (лучше чем margin) АДОПТИВНЫЙ*/
grid-template-columns: repeat(4,1fr); /*сделать солонки в grid (repeat -повторить 4 колонки 1fr -равномерный кусочек блока)*/
border-bottom: 1px solid #5D6544;
}
.footer-column:last-child {
position: relative;
}

.footer-column:last-child::before { /*(:last-child -переменная)(::before -псевдо элемент)*/
content: "";
position: absolute;
top: 0; /*отступ верху*/
left: calc(-1 * (var(--grid-gap)));
width: 1px;        /*ширина*/
height: 100%;    /*высота*/
background-color: #5d6544; /*цвет блока*/
}

.footer-title {
margin: 0;                 /*отступ снаружи блока */
margin-bottom: 21px;       /*наружный отступ снизу(margin-bottom: работает только с  display: inline-block;)*/
font-weight: 600;          /*стиль шрифта*/
font-size: 16px;           /*размер текста*/
line-height: 38px;         /*высота между строк*/
text-transform: uppercase; /*все буквы большие*/
color: #FFF;             /*цвет текста*/
}
.footer-link {
display: inline-block;   /*сделать блок строчно блочным */
font-size: 16px;         /*размер текста*/
line-height: 40px;       /*высота между строк*/
text-decoration: none;   /*убирает подчеркивание текста*/
color: #B6C197;        /*цвет текста*/
}
.footer-text {
margin: 0;                 /*отступ снаружи блока */
margin-bottom: 23px;       /*наружный отступ снизу(margin-bottom: работает только с  display: inline-block;)*/
font-size: 16px;           /*размер текста*/
line-height: 26px;         /*высота между строк*/
color: #B6C197;          /*цвет текста*/
}
.footer-mail {
display: inline-block; /*чтобы сработал отступ с низу*/
margin-bottom: 24px;   /*наружный отступ снизу(margin-bottom: работает только с  display: inline-block;)*/
font-weight: 700;      /*стиль шрифта*/
font-size: 24px;       /*размер текста*/
line-height: 38px;     /*высота между строк*/
text-decoration: none; /*убирает подчеркивание текста*/
color: #FFF;         /*цвет текста*/
}

.social {
display: flex;
align-items: center; /*центровка по центру*/
}
.social-item:not(:last-child) { /*не у последнего*/
margin-right: 11px; /*наружный отступ с право*/
}

.social-link {  /*ШАБЛОН для соцсетей*/
display: block; /*(display: block;-перенос строки в колонку вниз)*/
border-radius: 100%;
width: 33px;    /*ширина*/
height: 33px;   /*высота*/
background-color: #FFD723; /*цвет блока*/
background-position: center; /*центровка картинки по центру*/
background-repeat: no-repeat;/*убирает повторения кортики*/ 
background-size: 18px auto;  /*размер (18px) картинки внутри блока*/
opacity: 0.4; /*Определяет уровень прозрачности элемента*/
transition: opacity 0.3s ease-in-out; /*АНИМАЦИЯ ПЕРЕХОДА (плавное)(opacity 0.3 прозрачность элемента) */
}

.social-link:hover { /*при наведение*/
opacity: 1; /*Определяет уровень прозрачности элемента*/
}

.social-link-fb {
background-image: url("../svg/fb.svg");         /*картинка*/
}
.social-link-tw {
background-image: url("../svg/twitter.svg");    /*картинка*/
}
.social-link-g {
background-image: url("../svg/google-plus.svg");/*картинка*/
}
.social-link-in {
background-image: url("../svg/in.svg");         /*картинка*/
}
.copyright {
font-size: 14px;   /*размер текста*/
line-height: 21px; /*высота между строк*/
color: #B5C096;  /*цвет текста*/
}
.footer-bottom {
display: flex;
align-items: center; /*центровка по центру*/
justify-content: space-between; /*растянуть блоки по ширине*/
padding: 24px 0; /*внутренний отступ с верху с низу (24 px) c право и с лево (0)*/
}


    /*АДАПТИВНОСТЬ*/

@media (max-width:992px){ /*медио запрос для адаптивности (стандартный размер)*/
    .services-list { /*срабатывает при 892px (размер экрана)*/
        gap: 50px; /*отступ между блоками 50рх (лучше чем margin) АДОПТИВНЫЙ*/
        grid-template-columns: repeat(2,1fr);  /*сделать солонки в grid (repeat -повторить 2 колонки 1fr -равномерный кусочек блока)*/
    }
    .services-subtitle {
        max-width: none;
    }
    .services-descr {
        max-width: none;
    }
    .footer-middle {
        grid-template-columns: repeat(2,1fr);
    }
    .footer-column:last-child::before {
        display: none; /*убирает вертикальную линию*/
    }
}
@media (max-width:768px){ /*срабатывает при 691px (размер экрана)*/
    .get-started-title {
        font-size: 42px;   /*размер текста*/
        line-height: 54px; /*высота между строк*/
   }
}
@media (max-width:576px){ /*медио запрос для адаптивности (большие телефоны)*/
    .footer-middle {
        --grid-gap: 40px;
        grid-template-columns: repeat(1,1fr);
    }
    .hero-title {
        font-size: 50px;   /*размер текста*/
        line-height: 65px; /*высота между строк*/
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-bottom {
        flex-direction: column; /*сделать блоки колонкой*/
    }
}
@media (max-width:375px){ /*медио запрос для адаптивности (средние телефоны)*/
    .footer-mail {
        font-size: 20px;   /*размер текста*/
    }
    .logo {
        width: 65%;
    }
    .hero-title {
        font-size: 45px;   /*размер текста*/
        line-height: 60px; /*высота между строк*/
    }
    .services-list {
        grid-template-columns: repeat(1,1fr);  /*сделать солонки в grid (repeat -повторить 2 колонки 1fr -равномерный кусочек блока)*/
    }
}
:root {
--accent-color: #5d71dd;
--dark-color: #2f2222 ;
--grid-gap:40px;
}